h1 { 
    color: white;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; 
    text-align: right;
}

body {
    color: white;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; 
    background-color: #00C2EB;
}