body {
    background-color: #00C2EB;
    color: white;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
}

h1 {
    color: white;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
    text-align: center;
    font-size: 72px;
}

a{
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

.pages {
    float: left;
    padding-top: 30px;
    font-size: 24px;
    margin: auto;
}

.topnav {
    text-align: center;
}

.marketScreen {
    border: 10px 10px brown;
}

button {
    border: none;
    color: white;
    text-align: center;
    font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
    font-size: 18px;
    cursor: pointer;
    margin: 4px 30px;
    padding: 15px 32px;
    border-radius: 12px;
}

.buybutton {
    background-color: #038819;
}

.sellbutton {
    background-color: #CE2C2C;
}

.skipbutton {
    background-color: #FFA336;
}

.turnOptions {
    text-align: left;
    position: fixed;
    bottom: 30;
}
  

  