<!-- pages/templates/pages/game.html -->
{% load static %}

<head>
    <title>Game</title>
    <link rel="stylesheet" href = "{% static 'pages/style.css' %}">
    <script src="{% static 'pages/functions.js' %}"></script>
</head>

<body>
    <div id="pages">
        <a href="/" id="homeScreen">Playground Trading</a>
        <a href = "/game" style="margin-right: 2%; margin-left: 2%; text-align: right;">Game</a>
        <a href = "/education" style="margin-right: 2%; margin-left: 2%; text-align: right;">Education</a>
        <a href = "/about" style="margin-right: 2%; margin-left: 2%; text-align: right;">About Us</a>
    </div>
    
    <div id="game">
    
        <div id="marketScreen">
            {{ stockTable | safe}}
        </div>
    
        <div id="turnOptions">
            <button id = "buybutton" type="button" onclick="buy()">Buy</button>
            <button id = "sellbutton" type="button" onclick="sell()">Sell</button>
            <button id = "skipbutton" type="button" onclick="skip()">Skip</button>
            <button id = "portfolioButton" type="button" onclick="portfolio()">Portfolio</button>

            <div id="stockActions">
                <form id="stockActionsForm" style="display: none;" action="/game/" method="post">
                    {% csrf_token %}
                    {{ stockActions }}
                    <input type="submit" id="buy_stock" name="buy_stock" value="Buy">
                    <input type="submit" id = "sell_stock" name="sell_stock" value="Sell">
                </form>
            </div>
        </div>
    </div>
</body>