<!-- pages/templates/pages/game.html -->
{% load static %}

<head>
    <title>Game</title>
    <link rel="stylesheet" href = "{% static 'pages/style.css' %}">
    <script src="{% static 'pages/functions.js' %}"></script>
</head>

<body>
    <div id="pages">
        <a href="/" id="homeScreen">Playground Trading</a>
        <a href = "/game" style="margin-right: 2%; margin-left: 2%; text-align: right;">Game</a>
        <a href = "/education" style="margin-right: 2%; margin-left: 2%; text-align: right;">Education</a>
        <a href = "/about" style="margin-right: 2%; margin-left: 2%; text-align: right;">About Us</a>
    </div>
    
    <div id="game">
    
        <div id="marketScreen">
            {{ stockTable | safe}}

            <div id="playerPortfolio" style="visibility: hidden;">
                <table border="1">
                    <tr>
                        <th>Player</th>
                        <th>AAL Shares</th>
                        <th>AAPL Shares</th>
                        <th>AMZN Shares</th>
                        <th>BAC Shares</th>
                        <th>DAL Shares</th>
                        <th>HMC Shares</th>
                        <th>JNJ Shares</th>
                        <th>JPM Shares</th>
                        <th>LLY Shares</th>
                        <th>LUV Shares</th>
                        <th>MSFT Shares</th>
                        <th>TM Shares</th>
                        <th>TSLA Shares</th>
                        <th>UNH Shares</th>
                        <th>V Shares</th>
                    </tr>
                    {% for x in playerPortfolio %}
                    <tr>
                        <td>{{ x.index }}</td>
                        <td>{{ x.aal }}</td>
                        <td>{{ x.aapl }}</td>
                        <td>{{ x.amzn }}</td>
                        <td>{{ x.bac }}</td>
                        <td>{{ x.dal }}</td>
                        <td>{{ x.hmc }}</td>
                        <td>{{ x.jnj }}</td>
                        <td>{{ x.jpm }}</td>
                        <td>{{ x.lly }}</td>
                        <td>{{ x.luv }}</td>
                        <td>{{ x.msft }}</td>
                        <td>{{ x.tm }}</td>
                        <td>{{ x.tsla }}</td>
                        <td>{{ x.unh }}</td>
                        <td>{{ x.v }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    
        <div id="turnOptions">
            <button id = "buybutton" type="button" onclick="buy()">Buy</button>
            <button id = "sellbutton" type="button" onclick="sell()">Sell</button>
            <button id = "skipbutton" type="button" onclick="skip()">Skip</button>
            <button id = "portfolioButton" type="button" onclick="portfolio()">Portfolio</button>

            <div id="stockActions">
                <form id="stockActionsForm" style="display: none;" action="/game/" method="post">
                    {% csrf_token %}
                    {{ stockActions }}
                    <input type="submit" id="buy_stock" name="buy_stock" value="Buy">
                    <input type="submit" id = "sell_stock" name="sell_stock" value="Sell">
                </form>
            </div>
        </div>
    </div>
</body>