<!-- pages/templates/pages/home.html -->
{% load static %}
<head>
    <link rel="stylesheet" href = "{% static 'pages/style.css' %}">
</head>

<body>
    <div style="position: relative; text-align: center; padding-bottom: 5%"><a href="/" style="font-size: 84px; margin: auto;">Playground Trading</a></div>

    <div class="imageContainer">
        <img src="/static/pages/cloud.png">
        <div class="textOverlay">
            <a href="/game" style="color: black;">Game</a>
        </div>
    </div>

    <div class="imageContainer">
        <img src="/static/pages/cloud.png">
        <div class="textOverlay">
            <a href="/education" style="color: black">Education</a>
        </div>
    </div>

    <div class="imageContainer">
        <img src="/static/pages/cloud.png">
        <div class="textOverlay">
            <a href="/about" style="color: black">About Us</a>
        </div>
    </div>

    <div>
        <img src="/static/pages/park.png" style="position: absolute; bottom: 10%; right: 25%; left: 25%; margin: auto;">
    </div>
</body>